<h1>
    <app-progress-bar [progress]="counterProgress"></app-progress-bar>
    <app-countdown #countdown [init]="totalCountdown" (onDecrease)="updateProgress($event)" (onComplete)="countdownFinished()">
    </app-countdown>
    <div class="initInput">
        <label for="totalCountdownID">Inicia en: </label>
        <input id="totalCountdownID" type="text" [(ngModel)]="totalCountdown">
    </div>
    <button (click)="countdown.startCountdown(); counterProgress=0;"> RESTART </button>
</h1>